*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.logo img{
    border-radius: 70%;
    margin-top: 5%;
    margin-left: 70%;
    width: 150px;
}
.previous{
    margin-top: 5%;
    /* border: 5px solid greenyellow; */
    /* background-color: greenyellow; */
    width: 100px;
    height: 100px;
    
}
.previous img{
    /* border: 5px solid rgb(1, 255, 1); */
    padding-left: 0%;
    margin-top: -490px;
    margin-left: 20%;
    height: 50px;
    width: 50px;
}
.previous i{
    font-size: 100px;
}
.aboutus-container,.mission-container{
    /* border: 5px solid red; */
    margin-top: -100px;
    position: relative;
    border-radius: 15%;
    background:rgba(173, 173, 173,0.5);
    overflow: hidden;
   
    font-size: 20px;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 5%;
    padding-right: 2%;
    padding-top: 5%;
    text-align: justify;
}
.mission-container{
    margin-top: 10%;
}
.aboutus h4,.mission h4{
    /* border: 5px solid orange; */
    margin-top: 2%;
    color: white;
    font-size: 40px;
    padding: 1%;
}
.aboutus p,.mission p{
    color: white;
    /* border: 3px solid greenyellow; */
    margin-top: 2%;
    padding: 5%;
}

span {
    position: absolute;
    border-radius: 100vmax;
    color: white;
  }
.top {
    top: 0;
    left: 0;
    width: 15px;
    height: 10px;
    background: linear-gradient(
      90deg,
      transparent 10%,
      rgb(17, 0, 255), rgba(123, 194, 253, 0.79)
    );
  }
  
  .bottom {
    right: 0;
    bottom: 0;
    height: 10px;
    width: 15px;
    background: linear-gradient(
      90deg, 
      rgb(17, 0, 255), rgba(123, 194, 253, 0.79),
     
      transparent 90%
    );
  }
  
  .right {
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
    background: linear-gradient(
      180deg,
      transparent 10%,
      rgb(17, 0, 255), rgba(123, 194, 253, 0.79)
    );
  }
  
  .left {
    left: 0;
    bottom: 0;
    width: 10px;
    height: 15px;
    background: linear-gradient(
      180deg,
      rgb(17, 0, 255), rgba(123, 194, 253, 0.79),
      transparent 90%
    );
  }
  
  .top {
    animation: animateTop 5s ease-in-out infinite;
  }
  
  .bottom {
    animation: animateBottom 5s ease-in-out infinite;
  }
  
  .right {
    animation: animateRight 5s ease-in-out infinite;
  }
  
  .left {
    animation: animateLeft 5s ease-in-out infinite;
  }
  
  @keyframes animateTop {
    25% {
      width: 100%;
      opacity: 1;
    }
  
    30%,
    100% {
      opacity: 0;
    }
  }
  
  @keyframes animateBottom {
    0%,
    50% {
      opacity: 0;
      width: 0;
    }
  
    75% {
      opacity: 1;
      width: 100%;
    }
  
    76%,
    100% {
      opacity: 0;
    }
  }
  
  @keyframes animateRight {
    0%,
    25% {
      opacity: 0;
      height: 0;
    }
  
    50% {
      opacity: 1;
      height: 100%;
    }
  
    55%,
    100% {
      height: 100%;
      opacity: 0;
    }
  }
  
  @keyframes animateLeft {
    0%,
    75% {
      opacity: 0;
      bottom: 0;
      height: 0;
    }
  
    100% {
      opacity: 1;
      height: 100%;
    }
  }
  @media(max-width:600px){
    
    .logo img{
        border: 5px solid rgb(255, 255, 255);
        border-radius: 70%;
        margin-top: 15%;
        margin-left: 30%;
        width: 150px;
        
    }
    .previous{
        margin-top: 0%;
        width: 100px;
        height: 100px;
       
    }
    .previous img{
        /* border: 5px solid rgb(1, 255, 1); */
        padding-left: 0%;
        margin-top: -510px;
        margin-left: 20%;
        height: 30px;
        width: 30px;
        border: 2px solid white;
        border-radius: 50%;
    }
    
    .aboutus-container,.mission-container{
        /* border: 5px solid red; */
        margin-top: -10px;
        margin-left: 10%;
        margin-right: 10%;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 5%;
        text-align: justify;
        margin-bottom: 15%;
    }
    .mission-container{
        margin-top: 10%;
    }
    .aboutus h4,.mission h4{
        /* border: 5px solid orange; */
        margin-top: 5%;
        color: white;
        font-weight: 900;
        font-size: 25px;
        padding: 1%;
        font-style: oblique;
    }
    .aboutus p,.mission p{
        font-size: 15px;
        color: white;
        /* border: 3px solid greenyellow; */
        margin-top: 2%;
        padding: 5%;
        line-height: 200%;
    }
  }
  @media(min-width:600px){

    .logo img{
        border: 5px solid rgb(255, 255, 255);
        border-radius: 70%;
        margin-top: 15%;
        margin-left: 30%;
        width: 250px;
        
    }
    .previous{
        margin-top: 0%;
        width: 100px;
        height: 100px;
       
    }
    .previous img{
        /* border: 5px solid rgb(1, 255, 1); */
        padding-left: 0%;
        margin-top: -740px;
        margin-left: 20%;
        height: 40px;
        width: 40px;
        border: 2px solid white;
        border-radius: 50%;
    }
    
    .aboutus-container,.mission-container{
        /* border: 5px solid red; */
        margin-top: -10px;
        margin-left: 10%;
        margin-right: 10%;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 5%;
        
        margin-bottom: 15%;
    }
    .mission-container{
        margin-top: 10%;
    }
    .aboutus h4,.mission h4{
        /* border: 5px solid orange; */
        margin-top: 5%;
        color: white;
        font-weight: 900;
        font-size: 40px;
        padding: 1%;
        font-style: oblique;
    }
    .aboutus p,.mission p{
        font-size: 25px;
        color: white;
        /* border: 3px solid greenyellow; */
        margin-top: 4%;
        padding: 5%;
        text-align: justify;
    }
  }
  @media(min-width:768px){
    .logo img{
        border: 5px solid rgb(255, 255, 255);
        border-radius: 70%;
        margin-top: 15%;
        margin-left: 30%;
        width: 300px;
        
    }
    .previous{
        margin-top: 0%;
        width: 100px;
        height: 100px;
       
    }
    .previous img{
        /* border: 5px solid rgb(1, 255, 1); */
        padding-left: 0%;
        margin-top: -1140px;
        margin-left: 20%;
        height: 60px;
        width: 60px;
        border: 2px solid white;
        border-radius: 50%;
    }
    
    .aboutus-container,.mission-container{
        /* border: 5px solid red; */
        border-radius: 10%;
        margin-top: -10px;
        margin-left: 10%;
        margin-right: 10%;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 5%;
        
        margin-bottom: 15%;
    }
    .mission-container{
        margin-top: 10%;
    }
    .aboutus h4,.mission h4{
        /* border: 5px solid orange; */
        margin-top: 5%;
        color: white;
        font-weight: 900;
        font-size: 50px;
        padding: 1%;
        font-style: oblique;
    }
    .aboutus p,.mission p{
        font-size: 35px;
        color: white;
        /* border: 3px solid greenyellow; */
        margin-top: 4%;
        padding: 5%;
        padding-bottom: 10%;
        text-align: justify;
        line-height: 190%;
    }
  }
  @media(min-width:1200px){
    /* Reset some default styles */
    body{
      overflow-x: hidden;
    }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hi;
}
.previous{
  margin-top: -150px;
  width: 50px;
  height: 50px;
 
}
.previous img{
  /* border: 5px solid rgb(1, 255, 1); */
  padding-left: 0%;
  margin-top: -1140px;
  margin-left: 90%;
  height: 50px;
  width: 50px;
  border: 2px solid white;
  border-radius: 50%;
}

/* Apply styles to the container */
.container {
    display: flex;
    align-items: center;
    /* border: 5px solid red; */
    width:100px;
   
   
}

/* Style the logo */
.logo {
    flex: 1;
    padding: 20px;
}

.logo img {
    min-width: 20%;
    max-height: 10%;
    margin-left: 580px;
    margin-top: 5%;
    margin-bottom: 10%;
}

/* Style the content container */
.content {
    flex: 2;
   
    padding-left: 0px;
}

/* Style the "About Us" and "Our Mission" sections */


.aboutus-container{
    width: 2000%;
    height: 500%;
    margin-left: 0px;
    margin-top: -90px;
    padding: 2%;
    /* border: 5px solid orange; */
   
}
.mission-container{
    width: 1800%;
    height: 500%;
    margin-right: -60px;
    margin-left: 120px;
    margin-top: 60px;
    /* border: 5px solid cyan; */
}

.aboutus p,.mission p{
    font-size: 20px;
    padding-left: 5%;
}

/* Add rounded corners to the "About Us" and "Our Mission" sections */
.aboutus, .mission {
    border-radius: 10px;
}

/* Add spacing between "About Us" and "Our Mission" sections */
.aboutus {
    /* border: 5px solid greenyellow; */
    margin-bottom: 20px;
    margin-left: 0%;
    padding: 0;
   
}

  }